table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid white;
    border-collapse: collapse;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #96D4D4;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-edit {
    outline: none;
    border: none;
    background: transparent;
    color: orange;
    height: 25px;
    border-radius: 5px;
    &:hover {
        background: transparent !important;
        color: orange !important;
    }
}

.btn-delete {
    outline: none;
    border: none;
    background: transparent;
    color: red;
    height: 25px;
    border-radius: 5px;
    &:hover {
        background: transparent !important;
        color: red !important;
    }
}

.customModal {
    .modal-user-body {
        display: flex;
        justify-content: center;
        .custom-body {
            width: 80%;
        }
    }
    .input-container {
        display: flex;
        justify-content: space-between;
        input {
            width: 70%;
            border-radius: 3px;
            border: 1px solid grey;
            outline: none;
            height: 30px;
            padding: 0 10px;
        }
    }
}